
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');


.inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}
  


body{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}

.greenBg{
    background-color: #CCFFC5;
}
.yellowBg{
    background-color: yellow;
}
.redBg{
    background-color: crimson;
}

.transition{
    transition: ease-in 0.2s;
}

#guessBtn{
    font-weight: bold;
    text-align: center;
    transition: ease 0.1s;
    opacity: 0.9;
}

#guessBtn:hover{
    opacity: 1;
}

.greenBtnBg{
    background-color: #3AE3A8;
}
.yellowBtnBg{
    background-color: darkgoldenrod;
}
.redBtnBg{
    background-color: brown;
}

form{
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
}
form input{
    width: 350px;
    height: 60px;
    border-radius: 5px;
    margin-top: 18px;
    border: none;
}

#guess{
    background-color: #fff;
    text-align: center;
}

.page_title{
    font-size: 50px;
}

.rules ol{
 font-size: 16px;
}

